<div class="ubiquity-meta-contributor" >

  <label class="control-label multi_value optional" for="book_contribution_contributor_name_type">
    contributor name type</label>

  <%= select_tag "book_contribution[contributor_group][][contributor_name_type]", content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select( NameTypeService.new.select_active_options.flatten.uniq!, :to_s, :to_s) %>


  <br/>
  <label class="control-label multi_value optional" for="book_contribution_contributor_type">
   Contributor type</label>

 <%= select_tag "book_contribution[contributor_group][][contributor_type]",
         content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select( ContributorGroupService.new.select_active_options.flatten.uniq!, :to_s, :to_s)
  %>

  <br/>

  <label class="control-label multi_value optional" for="book_contribution_contributor_given_name">
    contributor given name</label>

  <%= text_field_tag  "book_contribution[contributor_group][][contributor_given_name]", nil,
                      class: "book_contribution_contributor_given_name form-control multi-text-field multi_value",
                      placeholder: 'Add contributor given name',
                      name: "book_contribution[contributor_group][][contributor_given_name]"
  %>

  <br>
  <label class="control-label multi_value optional" for="book_contribution_contributor_family_name">
    contributor family name</label>

  <%= text_field_tag  "book_contribution[contributor_group][][contributor_family_name]", nil,
                      class: "book_contribution_contributor_family_name form-control multi-text-field multi_value",
                      placeholder: 'Add contributor family name',
                      name: "book_contribution[contributor_group][][contributor_family_name]"
  %>

  <br>
  <label class="control-label multi_value optional" for="book_contribution_contributor_orcid">
    contributor orcid</label>

  <%= text_field_tag "book_contribution[contributor_group][][contributor_orcid", nil,
                     class: "book_contribution_contributor_group form-control multi-text-field multi_value",
                     placeholder: 'Add contributor orcid',
                     name: "book_contribution[contributor_group][][contributor_orcid]"
  %>

  <br>
  <label class="control-label multi_value optional" for="book_contribution_contributor_isni">
    contributor isni</label>

  <%= text_field_tag "book_contribution[contributor_group][][contributor_isni", nil,
                     class: "book_contribution_contributor_group form-control multi-text-field multi_value",
                     placeholder: 'Add contributor isni',
                     name: "book_contribution[contributor_group][][contributor_isni]"
  %>

  <br>
    <%= hidden_field_tag "book_contribution[contributor_group][][contributor_position]", 1, class: 'ubiquity-contributor-score'  %>
   <br>

  <a href="#" style="color:red;"  class=" remove_contributor form-group " data-removeUbiquitycontributor=".ubiquity-meta-contributor">
    <span class="glyphicon glyphicon-remove"></span>
    <span class="controls-remove-text">Remove</span>
  </a>
  |

  <a href="#" class=" add_contributor" data-addUbiquitycontributor=".ubiquity-meta-contributor">Add another </a>

  <br> <br>

</div>
