<%# Fix to not display default image icon. This file was copied from
  https://github.com/samvera/hyrax/blob/37a1c370cd05a7ed0a8ca2ad453bc15eb812f132/app/views/hyrax/homepage/_explore_collections.html.erb
 %>

 <% if collections.present? %>
   <table class="table table-striped collection-highlights">
     <tbody>
       <% collections.each do |collection| %>
         <tr>
           <td>
             <div class="media">

               <!-- if condition added by ubiquity to display image or empty border but not default icon-->
               <% if collection.thumbnail_id %>
                 <%= link_to [hyrax, collection], class: 'media-left', 'aria-hidden' => true do %>
                   <%= render 'shared/ubiquity/thumbnail_icons_with_restrictions', document: collection %>
                 <% end %>
               <% else %>
                 <%= link_to "", class: 'media-left', 'aria-hidden' => true do %>
                   <span class="media-left hidden-xs file_listing_thumbnail mock-thumbnail" ></span>
                 <% end %>
               <% end %>
               <div class="media-body">
                 <div class="media-heading">
                   <%= link_to [hyrax, collection] do %>
                     <%= collection.title_or_label %>
                   <% end %>
                 </div>
               </div>
             </div>
           </td>
         </tr>
       <% end %>
     </tbody>
   </table>
   <ul class="list-inline collection-highlights-list">
     <li>
       <%= link_to t('hyrax.homepage.admin_sets.link'),
                   main_app.search_catalog_path(f: { human_readable_type_sim: ["Collection"]}),
                   class: 'btn btn-default' %>
     </li>
   </ul>
 <% else %>
   <p>There are no collections to display.</p>
 <% end %>
