<!-- Override file https://github.com/samvera/hyrax/blob/master/app/views/hyrax/homepage/_home_content.html.erb from Hyrax engine to customise front-end -->

<div class="row">
  <div class="col-md-4 col-sm-4">
    <h4 id="featured_works" class="nav-tabs homepage-nav-tabs"><%= t('hyrax.homepage.featured_works.tab_label') %></h4>
    <%= render 'featured_works' %>
  </div>
  <div class="col-md-4 col-sm-4">
    <h4 id="recent_works" class="nav-tabs homepage-nav-tabs"><%= t('hyrax.homepage.recently_uploaded.tab_label') %></h4>
    <%= render 'recently_uploaded', recent_documents: @recent_documents %>
  </div>
  <div class="col-md-4 col-sm-4">
    <h4 id="explore_collections" class="nav-tabs homepage-nav-tabs"><%= t('hyrax.homepage.admin_sets.title') %></h4>
    <%= render 'explore_collections', collections: @presenter.collections %>
  </div>
</div>
