<%# Fix to not display default image icon. This file was copied from
  https://github.com/samvera/hyrax/blob/37a1c370cd05a7ed0a8ca2ad453bc15eb812f132/app/views/hyrax/homepage/_recent_document.html.erb
 %>

<tr>
    <td class="col-sm-2">
      <%= link_to_profile recent_document.depositor("no depositor value") %>
      <!-- if condition added by ubiquity to ensure default thumbnail is not displayed-->
      <%if  recent_document.thumbnail_id %>
        <%= link_to [main_app, recent_document] do %>
          <%= render_thumbnail_tag recent_document, { width: 45 }, suppress_link: true %>
        <% end %>
      <% end %>
    </td>
    <td>
      <h3>
        <span class="sr-only">Title</span><%= link_to truncate(recent_document.to_s, length: 28, separator: ' '), [main_app, recent_document] %>
      </h3>
      <p>
        <span class="sr-only">Keywords</span><%= link_to_facet_list(recent_document.keyword, 'keyword', 'no keywords specified').html_safe %>
      </p>
    </td>
  </tr>
