

<% array_of_hash.each_with_index do |hash, index| %>

<div class="ubiquity-meta-contributor" >

   <label class="control-label multi_value optional" for="conference_item_contributor_name_type">
    contributor name type<span style="color:blue;">required<span></label>

    <%= select_tag "conference_item[contributor_group][][contributor_name_type]",
       content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select( NameTypeService.new.select_active_options.flatten.uniq!, :to_s, :to_s, hash.dig("contributor_name_type")) %>

  <br/>
  <label class="control-label multi_value optional" for="conference_item_contributor_type">
   Contributor type</label>

 <%= select_tag "conference_item[contributor_group][][contributor_type]",
         content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select( ContributorGroupService.new.select_active_options.flatten.uniq!, :to_s, :to_s, hash.dig("contributor_type"))
  %>

  <br/>

      <label class="control-label multi_value optional" for="conference_item_contributor_given_name">
        contributor given name <span style="color:blue;">required<span> </label>

      <%= text_field_tag "conference_item[contributor_group][][contributor_given_name]", hash.dig("contributor_given_name"),
                         class: "conference_item_contributor_group form-control multi-text-field multi_value",
                         name: "conference_item[contributor_group][][contributor_given_name]",
                         required: true
      %>

      <br>
      <label class="control-label multi_value optional" for="conference_item_contributor_family">
        contributor family name</label>


      <%= text_field_tag "conference_item[contributor_group][][contributor_family_name]", hash.dig("contributor_family_name"),
                         class: "conference_item_contributor_group form-control multi-text-field multi_value",
                         name: "conference_item[contributor_group][][contributor_family_name]", required: true

      %>

      <br>

      <label class="control-label multi_value optional" for="conference_item_contributor_orcid">
        contributor orcid</label>

      <%= text_field_tag "conference_item[contributor_group][][contributor_orcid]", hash.dig("contributor_orcid"),
                         class: "conference_item_contributor_group form-control multi-text-field multi_value",
                         name: "conference_item[contributor_group][][contributor_orcid]"
      %>

      <br>
      <label class="control-label multi_value optional" for="conference_item_contributor_isni">
        contributor isni</label>

      <%= text_field_tag "conference_item[contributor_group][][contributor_isni]", hash.dig("contributor_isni"),
                         class: "conference_item_contributor_group form-control multi-text-field multi_value",
                         name: "conference_item[contributor_group][][contributor_isni]"
      %>
      <br>

      <%= hidden_field_tag "conference_item[contributor_group][][contributor_position]", index, class: 'ubiquity-contributor-score'  %>

      <br>
      <a href="#" style="color:red;"  class=" remove_contributor form-group " data-removeUbiquitycontributor=".ubiquity-meta-contributor">
        <span class="glyphicon glyphicon-remove"></span>
        <span class="controls-remove-text">Remove</span>
      </a>
      |

      <a href="#" class=" add_contributor" data-addUbiquitycontributor=".ubiquity-meta-contributor">Add another </a>

      <br> <br>

</div>

<% end %>
