<div class="ubiquity-meta-creator" >

  <label class="control-label multi_value optional" for="book_contributions_creator_name_type">
    creator name type</label>

  <%= select_tag "book_contributions[creator_group][][creator_name_type]", content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select( NameTypeService.new.select_active_options.flatten.uniq!, :to_s, :to_s), required: true %>

  <br>

  <label class="control-label multi_value optional" for="book_contributions_creator_given_name">
    creator given name</label>

  <%= text_field_tag  "book_contributions[creator_group][][creator_given_name]", nil,
                      class: "book_contributions_creator_given_name form-control multi-text-field multi_value",
                      placeholder: 'Add creator given name',
                      name: "book_contributions[creator_group][][creator_given_name]"
  %>

  <br>
  <label class="control-label multi_value optional" for="book_contributions_creator_family_name">
    creator family name</label>

  <%= text_field_tag  "book_contributions[creator_group][][creator_family_name]", nil,
                      class: "book_contributions_creator_family_name form-control multi-text-field multi_value",
                      placeholder: 'Add creator family name',
                      name: "book_contributions[creator_group][][creator_family_name]"
  %>

  <br>
  <label class="control-label multi_value optional" for="book_contributions_creator_orcid">
    creator orcid</label>

  <%= text_field_tag "book_contributions[creator_group][][creator_orcid", nil,
                     class: "book_contributions_creator_group form-control multi-text-field multi_value",
                     placeholder: 'Add creator orcid',
                     name: "book_contributions[creator_group][][creator_orcid]"
  %>

  <br>
  <label class="control-label multi_value optional" for="book_contributions_creator_isni">
    creator isni</label>

  <%= text_field_tag "book_contributions[creator_group][][creator_isni", nil,
                     class: "book_contributions_creator_group form-control multi-text-field multi_value",
                     placeholder: 'Add creator isni',
                     name: "book_contributions[creator_group][][creator_isni]"
  %>

  <br>
    <%= hidden_field_tag "book_contributions[creator_group][][creator_position]", 1, class: 'ubiquity-creator-score'  %>
   <br>

  <a href="#" style="color:red;"  class=" remove_creator form-group " data-removeUbiquityCreator=".ubiquity-meta-creator">
    <span class="glyphicon glyphicon-remove"></span>
    <span class="controls-remove-text">Remove</span>
  </a>
  |

  <a href="#" class=" add_creator" data-addUbiquityCreator=".ubiquity-meta-creator">Add another </a>

  <br> <br>

</div>
