<!-- copied from https://github.com/samvera/hyrax/blob/v2.0.2/app/views/hyrax/base/_member.html.erb -->

<tr class="<%= dom_class(member) %> attributes">
  <td class="thumbnail">
     <!-- displays zip icon for files with archived format eg zip -->
     <%= member.file_format %>

    <% if zipped_types.include? member.file_format %>
      <span class="fa fa-file-archive-o fa-5x grey-zip-icon"></span>
    <% elsif check_file_is_restricted?(member) %>
      <%= render_thumbnail_tag member %>
    <% elsif ((not member.lease_expiration_date.present?) && (not member.embargo_release_date.present?) ) %>
      <%= render_thumbnail_tag member %>
    <% else %>
     <!-- displays for logged out users on files with embargo/lease -->
     <span class="media-left hidden-xs file_listing_thumbnail mock-thumbnail" ></span>
    <% end %>
 </td>
  <td class="attribute filename"><%= link_to(member.link_name, contextual_path(member, @presenter)) %></td>
  <td class="attribute date_uploaded"><%= member.try(:date_uploaded) %></td>
  <td class="attribute permission">
    <%= member.permission_badge %>
    <% if member.embargo_release_date.present? %>
      <dd> Until <%= member.try(:embargo_release_date) %></dd>
    <% end %>
    <% if member.lease_expiration_date.present? %>
      <dd> Until <%= member.try(:lease_expiration_date) %></dd>
    <% end %>
  </td>
  <td>

    <!-- Copied from https://github.com/samvera/hyrax/blob/v2.0.2/app/views/hyrax/base/_actions.html.erb -->
    <!-- Moved to shared/ubiquity/works/actions -->
    <%= render 'shared/ubiquity/works/actions', member: member %>
  </td>
</tr>
