
<% if search_pagination.present? %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <%= render 'shared_search_form' %>
       </div> <!-- closes col-md-9 -->
    </div><!-- closes .row -->
    <div class="col-md-7 col-md-offset-6">
        <h4>Search results from multiple repositories</h4>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <%= paginate @search_pagination %>
       </div>

       <div class="col-md-2">
         <!-- cookie used instead of passing a default value to options_from_collection_for_select, so we can always display included_blank -->
         <% params[:limit] = cookies[:per_page] %>
         <% default_value = params[:limit] %>
           <%= form_tag shared_search_index_path, method: :get, id: 'limit_form' do %>
             <span> <%= select_tag :limit, options_from_collection_for_select(Ubiquity::SharedSearch::PER_PAGE_OPTIONS, :to_s, :to_s), {:include_blank => "#{default_value} per page", class: "text-primary"} %>
             </span>
           <% end %>
        </div>
    </div>
  </div>  <!-- closes .container for form -->

<% else %>

  <div class="container">

    <div class="row">
      <div class="col-md-12">
          <%= render 'shared_search_form' %>
       </div> <!-- closes col-md-9 -->
    </div><br><!-- closes .row -->

    <div class="row">
      <div class="col-md-7 col-md-offset-5">
        <div class="page_links" aria-hidden="true">
          <span class="page_entries">No entries found</span>
        </div>
        <hr>
        <h2 class="sr-only">Search Results</h2>
        <h2>No results found for your search</h2>
        <div id="documents" class="noresults">
          <h3>Try modifying your search<h3>
          <!-- <ul>
            <h5>
              <li>Use fewer keywords to start, then refine your search using the links on the left</li>
            </h5>
          </ul> -->
        </div>
      </div>
    </div>
  </div>  <!-- closes .container for form -->

<% end %>
