
<% if search_pagination.present? %>

<div class="container-fluid" id="search-results>
    <div class="row">
      <div class="col-md-12">
          <%= render 'shared_search_form' %>
       </div> <!-- closes col-md-9 -->
    </div><!-- closes .row -->
    <div class="col-md-7 col-md-offset-6">
        <h4>Search results from multiple repositories</h4>
    </div>

    <div class="row">
      <div class="col-md-9 pull-right">
        <%= render "search_state" %>
      </div>
    </div>

    <div class="row">
      <!--  col-md-offset-2 -->
      <div class="col-md-3 col-md-offset-4">
        <%= paginate @search_pagination %>
      </div>

    <!-- cookie used instead of passing a default value to options_from_collection_for_select, so we can always display included_blank -->
    <% params[:sort] = cookies[:sort] %>
    <% default_sort_value = params[:sort] %>
    <% selected_option_label = generate_sort_label(default_sort_value) %>

    <% params[:per_page] = cookies[:per_page] %>
    <% default_value = params[:per_page] %>

  <!-- pagination class added to allow the dropdowns to be in line with pagination buttons -->
  <div class="pagination pull-right col-md-4">
   <div id="sort-dropdown" class="btn-group">
     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Sort by <%= selected_option_label %> <span class="caret"></span>
     </button>

     <ul class="dropdown-menu" role="menu">
        <%  Ubiquity::SharedSearch::SORT_OPTIONS.each do |value| %>
        <li><%= link_to value.first,  shared_search_index_path(locale: 'en', per_page: default_value, sort: value.last, q: cookies[:search_term]) %></li>
        <% end %>
      </ul>
     </div>

      <div id="per_page-dropdown" class="btn-group">
       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <%= cookies[:per_page] %> per page <span class="caret"></span>
       </button>
         <ul class="dropdown-menu" role="menu">
         <%  Ubiquity::SharedSearch::PER_PAGE_OPTIONS.each do |value| %>
           <li><%= link_to value,  shared_search_index_path(locale: 'en', per_page: value, sort: default_sort_value, q: cookies[:search_term]) %></li>
          <% end %>
         </ul>
      </div>

   </div> <!-- coloses pull-right" -->

 </div> <!-- closes .container for form -->

<% else %>

<div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
          <%= render 'shared_search_form' %>
       </div> <!-- closes col-md-9 -->
    </div><br><!-- closes .row -->

    <div class="row">
      <div class="col-md-9 pull-right">
        <%= render "search_state" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-md-offset-5">
        <div class="page_links" aria-hidden="true">
          <span class="page_entries">No entries found</span>
        </div>
        <hr>
        <h2 class="sr-only">Search Results</h2>
        <h2>No results found for your search</h2>
        <div id="documents" class="noresults">
          <h3>Try modifying your search<h3>
          <!-- <ul>
            <h5>
              <li>Use fewer keywords to start, then refine your search using the links on the left</li>
            </h5>
          </ul> -->
        </div>
      </div>
    </div>
  </div> <!-- closes .container for form -->

<% end %>
