<%= render "search_page_top", search_pagination: @search_pagination  %>
<br/><hr>
<div class="container-fluid id="search-results"">
  <div class="row">
    <div class="col-md-3"><!-- facet sidebar --> </div>
    <div  class="col-md-9">
      <ol class="catalog" start="1">
      <% @search_pagination.each do |model| %>
        <% if  model["visibility_ssi"] == 'open' %>
        <% url = generate_work_url(model['id'], model["account_cname_tesim"].try(:first), model["has_model_ssim"].first, request.host, request.protocol, request.port) %>
        <% if model["title_tesim"].present? %>
          <div >
            <li>
              <h2>
                <%= link_to model["title_tesim"].first, url %>
              </h2>
            </li>
          </div>
          <div class="list-thumbnail">
            <% if model["thumbnail_path_ss"].present? %>
                <% if  File.extname(model['thumbnail_path_ss']).blank? %>
                  <span class="fa fa-file-o fa-5x hidden-xs file_listing_thumbnail" style="color:grey;width:150px;padding-left:25px"></span>
                <% elsif get_thumbnail_visibility(model['id'], model["account_cname_tesim"].try(:first)) != 'open' && model["thumbnail_path_ss"] != "/assets/work-ff055336041c3f7d310ad69109eda4a887b16ec501f35afc0a547c4adb97ee72.png" %>
                  <span class="fa fa-file-o fa-5x hidden-xs file_listing_thumbnail" style="color:grey;width:150px;padding-left:25px"></span>
                <% elsif model["thumbnail_path_ss"] != "/assets/work-ff055336041c3f7d310ad69109eda4a887b16ec501f35afc0a547c4adb97ee72.png" %>
                  <img src="<%= request.protocol %><%= model["account_cname_tesim"].try(:first) %>:<%= request.port %><%= image_path(model['thumbnail_path_ss']) %>" alt="default" style="width:150px;padding-left:25px">
                <% end %>
            <% else %>
              <span class="<%# Hyrax::ModelIcon.css_class_for(Collection) %> list-thumbnail"></span><br/>
            <% end %><!-- closes if model["thumbnail_path_ss"] -->
          </div> <!--  closes list-thumbnail -->
        <% end %>  <!-- closes if title_tesim -->

<div class="metadata">
  <table class="table">
    <tbody>
      <% model.each do |hash_key, data_value| %>

        <% if (["creator_tesim"].include? hash_key) && data_value.present? %>
          <hr class="pull-right">
          <tr class="pull-right text-left">
            <% field = parse_json(data_value) %>
            <th class="search-meta-label">
              <span class="attribute-label h4"><%= Ubiquity::SharedSearch::NAME_MAPPING[hash_key] %></span>
            </th>
            <td>
              <%= render "shared/ubiquity/search_display/show_array_hash", array_of_hash: field, attr_name: 'creator' %>
            </td>
          </tr>
        <% end %>

        <% if (["date_published_tesim"].include? hash_key) && data_value.present? %>
          <hr class="pull-right">
          <tr class="pull-right text-left">
            <th class="search-meta-label">
              <span class="attribute-label h4"><%= Ubiquity::SharedSearch::NAME_MAPPING[hash_key] %></span>
            </th>
            <td>
              <span class="pull-right"><% if data_value.class == Array %> <span class="center-block"><%= data_value.first %> <% end %> </span></span>
            </td>
          </tr>
        <% end %>

        <% if (["resource_type_tesim"].include? hash_key) && data_value.present? %>
           <hr class="pull-right">
           <tr class="pull-right text-left">
             <th class="search-meta-label">
               <span class="attribute-label h4"><%= Ubiquity::SharedSearch::NAME_MAPPING[hash_key] %></span>
             </th>
             <td>
              <span class="pull-right"><% if data_value.class == Array %> <span class="center-block"><%= human_readable_resource_type(data_value) %> <% end %> </span></span>
            </td>
        <% end %>

        <% if (["institution_tesim"].include? hash_key) && data_value.present? %>
           <hr class="pull-right">
           <tr class="pull-right text-left">
             <th class="search-meta-label">
               <span class=" attribute-label h4"><%= Ubiquity::SharedSearch::NAME_MAPPING[hash_key] %></span>
             </th>
             <td>
              <span class="pull-right"><% if data_value.class == Array %>  <span class="text-right"> <%= safe_join(data_value, '; ').html_safe %> <% end %> </span> </span>
            </td>
        <% end %>

      <% end %> <!-- model each loop -->
    </tbody>
  </table>
</div>
  <% end %> <!-- closes model visbility check -->
<% end %> <!-- closes pagination each -->
    </ol>
  </div><!-- closes col-md-9 -->
</div> <!-- closes row -->

<div class="row">
  <div class="col-md-6 col-md-offset-5">
    <%= paginate @search_pagination %>
  </div>
</div>
</div> <!-- closes container -->
<div class="clearfix"></div>
<script type="text/javascript" >
$(function(){
  $('#limit').change(
    function() {
     $('#limit_form').submit();
    });
});
</script>
