
<%= render "search_page_top", search_pagination: @search_pagination  %>
<br/><hr>
<div class="container-fluid id="search-results"">
  <div class="row">
    <div class="col-md-3"><!-- facet sidebar --> </div>
      <div  class="col-md-9">
        <div id="search-results">
          <ol style="list-style-type:none" class="catalog" start="1">
            <% @search_pagination.each do |model| %>
            <% if model["visibility_ssi"] == 'open' %>
              <% url = generate_work_url(model['id'], model["account_cname_tesim"].try(:first), model["has_model_ssim"].first, request.host, request.protocol, request.port) %>
              <% if model["title_tesim"].present? %>
                <li class="document blacklight-article">
                  <h3>
                    <%= link_to model["title_tesim"].first, url %>
                  </h3>
                  <% default_file_path =  "/assets/work-ff055336041c3f7d310ad69109eda4a887b16ec501f35afc0a547c4adb97ee72.png" %>
                  <% if model["thumbnail_path_ss"].present? &&  model["thumbnail_path_ss"] != default_file_path   %>
                    <%= render '/ubiquity/shared_search/shared_search_thumbnail', model: model %>
                  <% elsif model["thumbnail_path_ss"].present? && model["thumbnail_path_ss"] == default_file_path  %>
                    <div class="list-thumbnail col-md-2">
                      <span class="collection-icon-search"></span>
                    </div> <!--  closes list-thumbnail -->
                  <% end %><!-- closes if model["thumbnail_path_ss"] -->
              <% end %>  <!-- closes if title_tesim -->
              <div class="metadata">
                <table class="table">
                  <% model.each do |hash_key, data_value| %>
                    <tbody>

                      <% if (["creator_tesim"].include? hash_key) && data_value.present? %>
                        <% field = parse_json(data_value) %>
                        <tr>
                          <th class="search-meta-label">
                            <span class="attribute-label h4"><%= Ubiquity::SharedSearch::NAME_MAPPING[hash_key] %></span>
                          </th>
                          <td>
                            <span style="display:inline;float:left;">
                              <span itemprop="creator" style="float:left;"><%= render "shared/ubiquity/search_display/show_array_hash", array_of_hash: field, attr_name: 'creator' %><span>&nbsp;</span>
                              </span>
                            </span>
                          </td>
                        </tr>
                      <% end %>

                      <% if (["date_published_tesim"].include? hash_key) && data_value.present? %>
                        <tr>
                          <th class="search-meta-label">
                            <span class="attribute-label h4"><%= Ubiquity::SharedSearch::NAME_MAPPING[hash_key] %></span>
                          </th>
                          <td>
                            <% if data_value.class == Array %><%= data_value.first %> <% end %>
                          </td>
                        </tr>
                      <% end %>

                      <% if (["resource_type_tesim"].include? hash_key) && data_value.present? %>
                        <tr>
                          <th class="search-meta-label">
                            <span class="attribute-label h4"><%= Ubiquity::SharedSearch::NAME_MAPPING[hash_key] %></span>
                          </th>
                          <td>
                            <% if data_value.class == Array %><%= human_readable_resource_type(data_value) %> <% end %>
                          </td>
                        </tr>
                      <% end %>

                      <% if (["institution_tesim"].include? hash_key) && data_value.present? %>
                        <tr>
                          <th class="search-meta-label">
                            <span class=" attribute-label h4"><%= Ubiquity::SharedSearch::NAME_MAPPING[hash_key] %></span>
                          </th>
                          <td>
                            <% if data_value.class == Array %><%= safe_join(data_value, '; ').html_safe %> <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  <% end %> <!-- model each loop -->
                </table>
              </div>

              <div class="clearfix"></div>
            </li>
          <% end %> <!-- closes model visbility check -->
        <% end %> <!-- closes pagination each -->
      </ol>
    </div>
  </div><!-- closes col-md-9 -->
</div> <!-- closes row -->

  <div class="row">
    <div class="col-md-6 col-md-offset-5">
      <%= paginate @search_pagination %>
    </div>
  </div>
</div> <!-- closes container -->

<div class="clearfix"></div>
<script type="text/javascript" >
$(function(){
  $('#limit').change(
    function() {
     $('#limit_form').submit();
    });
});
</script>
