<section class="jumbotron">
  <div class="row">
    <div class="col-xs-2 col-md-1">
      <img src="<%= request.base_url %>/<%= image_path('bl-122.jpg')%>" alt="logo" vspace="20" >
    </div>
    <div class="col-xs-10 col-md-11 shared-repo-header">
      <h1><%= t('hyku.bl_partners.heading') %></h1>
      <p><%= t('hyku.bl_partners.sub_heading') %></p>
    </div>
  </div>
  <br/>
  <div class="shared-repo-text">
    <p><%= t('hyku.bl_partners.homepage_text') %></p>
    <p><%= t('hyku.bl_partners.homepage_temp_announcement') %></p>
  </div>
</section>

<section class="shared-layer-logos-container ie-table">
  <div class="grid-item ie-table-item">
    <a href="https://mola.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('mola-logo-122.jpg')%>" alt="logo" vspace="20" ></a>
  </div>
  <div class="grid-item ie-table-item">
    <a href="https://tate.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('tate-logo-black-122.png')%>" alt="logo" vspace="60" ></a>
  </div>
  <div class="grid-item ie-table-item">
    <a href="https://nms.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('nms-logo-122.jpg')%>" alt="logo" vspace="65" ></a>
  </div>
  <div class="grid-item ie-table-item">
    <a href="https://britishmuseum.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('bm-logo-122.png')%>" alt="logo" vspace="60" ></a>
  </div>
  <div class="grid-item ie-table-item">
    <a href="https://bl.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('bl-122.jpg')%>" alt="logo" vspace="20" ></a>
  </div>
</section>
