<h3>About our shared repository service</h3>
  <p>This site will bring together the openly available outputs of research produced by our project partners who are all UK cultural and heritage organisations: the British Museum, MOLA (Museum of London Archaeology), National Museums Scotland, Tate, Royal Botanic Gardens Kew and ourselves.</p>
  <p>Our organisations are research active, working with partners both nationally and internationally. Our research informs and supports almost every aspect of our work, be it curation, conservation, preservation, resource discovery, digital innovation or learning. Whether it’s a major exhibition or a new way to discover or understand a unique part of our collections, it has been enabled by staff research.</p>
<h3>Pilot shared repository</h3>
  <p>Our repositories house material such as journal articles, conference papers, books & book chapters, reports, data, images and blog posts. The content is made available for you to read and download to support your own research.</p>
  <p>The British Library’s (pilot) Shared Repository has started with five separate repositories for the five partners. A shared discovery interface will be added later to provide a single point of access to the combined research.</p>
  <p>The 15-month pilot project <a href="https://www.bl.uk/press-releases/2018/july/shared-research-repository-announcement" target="_blank">was announced</a> in July 2018. Our aims for the pilot project go beyond the creation of the repository itself and include the following:</p>
  <ul>
    <li>To establish an open access repository for the British Library to improve access to our own research.</li>
    <li>To investigate the feasibility of, interest in, and technical options for a shared repository to support the research of other cultural and heritage institutions alongside our own.</li>
    <li>To explore sustainable future business and service options relating to shared repository activities for a wider range of content and research.</li>
  </ul>
<h3>Repository platform</h3>
  <p>The repository is built by Ubiquity Press using <a href="http://hydrainabox.samvera.org/faq.html" target="_blank">Samvera Hyku</a>, a rapidly developing open source repository software in which multi-tenancy is a key feature. The British Library’s shared repository pilot project is an early adopter of the Hyku platform and the Library looks forward to sharing its experience around scalability, multi-tenancy and user experience in particular.</p>
  <p>New features and functions are continually being added throughout the project period; please check back regularly to see the latest updates – and of course new content.</p>
<h4>Contact</h4>
  <p>You can <a href="mailto:openaccess@bl.uk">contact us</a> to stay in touch with the project and our plans for beyond the pilot.</p>
  <section class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-lg-2">
        <a href="https://mola.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('mola-logo-88.jpg')%>" alt="logo" vspace="40" class="img-responsive" ></a>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <a href="https://tate.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('tate-88.png')%>" alt="logo" vspace="40" class="img-responsive" ></a>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <a href="https://nms.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('nms-88.png')%>" alt="logo" vspace="40" class="img-responsive"></a>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <a href="https://britishmuseum.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('britishmuseum-88.png')%>" alt="logo" vspace="40" class="img-responsive" ></a>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <a href="https://kew.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('kew-88.png')%>" alt="logo" vspace="40" class="img-responsive"></a>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <a href="https://bl.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('bl-88.png')%>" alt="logo" vspace="40" class="img-responsive"></a>
      </div>
   </div>
  </section>
