<section class="jumbotron">
  <div class="row">
    <div class="col-xs-2 col-md-1">
      <img src="<%= request.base_url %>/<%= image_path('bl-122.jpg')%>" alt="logo" vspace="20" >
    </div>
    <div class="col-xs-10 col-md-11 shared-repo-header">
      <h1><%= t('hyku.bl_partners.heading') %></h1>
      <p><%= t('hyku.bl_partners.sub_heading') %></p>
    </div>
  </div>
  <br/>
  <div class="shared-repo-text">
    <p><%= t('hyku.bl_partners.homepage_text') %></p>
    <p><%= t('hyku.bl_partners.homepage_temp_announcement') %></p>
  </div>
</section>

<section class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-lg-2">
      <a href="https://mola.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('mola-122-wide.png')%>" alt="logo" vspace="40" class="img-responsive" ></a>
    </div>
    <div class="col-md-3 col-sm-2 col-lg-3">
      <a href="https://tate.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('tate-122-wide.png')%>" alt="logo" vspace="50" class="img-responsive" ></a>
    </div>
    <div class="col-md-3 col-sm-2 col-lg-3">
      <a href="https://nms.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('nms-122-wide.png')%>" alt="logo" vspace="55" class="img-responsive"></a>
    </div>
    <div class="col-md-2 col-sm-2 col-lg-2">
      <a href="https://britishmuseum.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('britishmuseum-122-wide.png')%>" alt="logo" vspace="50" class="img-responsive" ></a>
    </div>
    <div class="col-md-2 col-sm-2 col-lg-2">
      <a href="https://bl.oar.bl.uk" target="_blank"><img src="<%= request.base_url %>/<%= image_path('bl-122-wide.png')%>" alt="logo" vspace="40" class="img-responsive"></a>
    </div>
 </div>
</section>
