<% content_for :page_header do %>

  <h1><span class=""></span> Export data from <%= current_account.cname %> Repository</h1>

  <h4>After exporting the CSV it can be round-tripped via the <%= link_to('Importer', importer_link_based_on_environment) %>
    <span class="fa fa-external-link"></span>(requires a separate login to the repository). This can be used to update existing records.
  </h4>
<% end %><br>

  <div class="panel panel-default tabs">
    <!-- Nav tabs -->
    <ul id="exportCsvTabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#export-database" aria-controls="export-database" role="tab" data-toggle="tab">Export CSV for whole database</a></li>
      <li role="presentation"><a href="#export-model-metadata" aria-controls="export-model-metadata" role="tab" data-toggle="tab">Export CSV for individual work types</a></li>
      <li role="presentation"><a href="#download-csv" aria-controls="download-ready" role="tab" data-toggle="tab">Download CSV</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="export-database">
        <div class="panel panel-default labels">
          <div class="panel-body">
            <h2>Click the link below to export/download CSV of all works in the repository</h2>

            <h5 class="ubiquity-db-exporter-message" data-type='database' style="color:red;font-weight: 900;">  </h5>

            <p><%= link_to "Export CSV for whole database", main_app.export_database_admin_exports_path(model: 'all_database', format: 'csv'), class: "ubiquity-exporter", data: { 'type' => 'database' } %> </p>

          </div>
        </div>
      </div> <!--close export-databae -->

      <div role="tabpanel" class="tab-pane" id="export-model-metadata">
        <div class="panel panel-default labels">
          <div class="panel-body">

            <h2>Click on a work type to export/download csv</h2>
            <h5 class="ubiquity-model-exporter-message"  style="color:red;font-weight: 900;">  </h5>

            <% models = Ubiquity::SharedMethods.tenant_work_list(current_account.cname) %>
            <ul>
              <% models.each do |work| %>
                <li><%= link_to "Export CSV for #{work.to_s.underscore.capitalize}", main_app.export_remap_model_admin_exports_path(model: "#{work.to_s}", format: 'csv'), class: "ubiquity-exporter", data: { 'type' => 'model'}  %> </li>
              <% end %>
            <ul>
          </div>
        </div>
      </div> <!-- export-moddel-metadata -->

      <div role="tabpanel" class="tab-pane" id="download-csv">
         <div class="panel panel-default labels">
           <div class="panel-body">
             <h2>Click links below to download</h2>

             <h5 class="ubiquity-db-exporter-message" data-type='download-ready' style="color:red;font-weight: 900;">  </h5>
              <!-- redirect_to s3 link controller action -->
              <p><%# link_to "Export CSV", main_app.export_database_admin_exports_path(format: 'csv'), class: "ubiquity-exporter", data: { 'type' => 'database' } %> </p>
              <ul>
                <% @s3_objects.each do |object| %>
                  <% if object.present? %>
                     <% filename = object.key.split('/').last %>
                    <li> <%= link_to  filename, main_app.s3_link_redirect_admin_exports_path(filename: object.key) %> created <%= time_ago_in_words(object.data.last_modified) %> ago </li>
                  <% end %>
                <% end %>
              </ul>
           </div>
         </div>
       </div>  <!-- closes download csv-->


      <div role="tabpanel" class="tab-pane" id="export-database">
        <div class="panel panel-default labels">
          <div class="panel-body">
            <%# link_to "download csv", main_app.export_database_admin_exports_path(format: 'csv')   %>

          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="export-model-metadata">
        <div class="panel panel-default labels">
          <div class="panel-body">
            <p> If the metadata is set to multiple the values are split</p>

          </div>
        </div>
      </div>

    </div> <!-- closes  class=tab-content-->

      <script>

        $(document).on("turbolinks:load", function(event){

          return $("body").on("click", ".ubiquity-exporter", function(event) {
            $(".ubiquity-model-exporter-message").hide();
            $(".ubiquity-db-exporter-message").hide();

            var exportType = $(this).attr('data-type');
            //$(".ubiquity-exporter-message[data-type=`${exportType}`]").html("It could take a few seconds or minutes depending of data size. Be patient your data is in the process of conversion to CSV and will download automatically")
            if (exportType === 'model') {
              $(".ubiquity-model-exporter-message").html("It could take a few seconds or minutes depending on data size. Be patient, hum a tune, your data is in the process of conversion to CSV and will download automatically");
              $(".ubiquity-model-exporter-message").show();
            }

            if (exportType === 'database') {
              $(".ubiquity-db-exporter-message").html("It could take a few seconds or minutes depending on data size. Be patient, grab a cup of coffee, your data is in the process of conversion to CSV and will download automatically");
              $(".ubiquity-db-exporter-message").show();
            }

          });
        });

      </script>

  </div>
