<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p><%= link_to t(:'hyrax.pages.tabs.terms_page'), hyrax.terms_path, class: "navbar-link" %></p>
        <p><%= t('hyrax.footer.service_html') %>  Hyku v<%= Hyku::VERSION %></p>
    </div>
    <% if admin_host? %>
      <div class="navbar-text">
        <p><a href="mailto:openaccess@bl.uk"><%= t('hyku.footer.oar_bl_email') %></a></p>
      </div>
    <% end %>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p><%= t('hyrax.footer.copyright_html') %></p>
        <p><%= t('hyrax.background_attribution_html') %></p>
        <% if admin_host? %>
          <% if user_signed_in? %>
            <p><%= link_to t('hyku.footer.admin_home'), main_app.dashboard_path %></p>
          <% else %>
            <p> <%= render "ubiquity/superadmin_sessions/superadmin_login_link" %> </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</footer>
