<!-- rendered from app/views/shared/ubiquity/creator/_new_form.html.erb -->
<!-- rendered from app/views/shared/ubiquity/creator/_edit_array_hash_form.html.erb -->
<br/>
<span class="ubiquity_organization_fields">

  <label class="ubiquity_creator_organization_name_label control-label multi_value optional" for="generic_work_creator_organization_name">
    Creator organisation name</label>

  <%= text_field_tag  "#{template}[creator_group][][creator_organization_name]", nil,
                      class: "generic_work_creator_organization_name form-control multi-text-field multi_value ubiquity_creator_organization_name",
                      placeholder: 'Please enter the organisation\'s name.',
                      name: "#{template}[creator_group][][creator_organization_name]",
                      data: {field_name:'ubiquity_creator_organization_name'}
  %>
  <span style="color:red;" class="error">Please complete this field.</span>

</span>
<br/>
<span class="ubiquity_personal_fields">

  <label class="control-label multi_value optional" for="#{template}_creator_family_name">
    Last name</label>
  <%= text_field_tag  "#{template}[creator_group][][creator_family_name]", nil,
                      class: "#{template}_creator_family_name creator_family_name form-control multi-text-field multi_value ubiquity_creator_family_name",
                      placeholder: 'Please enter the creator\'s last name/family name.',
                      name: "#{template}[creator_group][][creator_family_name]",
                      data: {field_name:'ubiquity_creator_family_name'}
  %>
  <span style="color:red;" class="error">Please enter one of these fields.</span>

  <br>

  <label class="control-label multi_value optional" for="#{template}_creator_given_name">
    Middle name</label>
  <%= text_field_tag  "#{template}[creator_group][][middle_name]", nil,
                      class: "#{template}_middle_name middle_name form-control multi-text-field multi_value ubiquity_middle_name",
                      placeholder: 'Please enter the creator\'s middle name.',
                      name: "#{template}[creator_group][][middle_name]",
                      data: {field_name:'ubiquity_middle_name'}
  %>
  <br>

  <label class="control-label multi_value optional" for="#{template}_creator_given_name">
    First name</label>
  <%= text_field_tag  "#{template}[creator_group][][creator_given_name]", nil,
                      class: "#{template}_creator_given_name creator_given_name form-control multi-text-field multi_value ubiquity_creator_given_name",
                      placeholder: 'Please enter the creator\'s first name/given name.',
                      name: "#{template}[creator_group][][creator_given_name]",
                      data: {field_name:'ubiquity_creator_given_name'}
  %>
  <span style="color:red;" class="error">Please enter one of these fields.</span>

  <br/>

  <label class="control-label multi_value optional" for="#{template}_creator_given_name">
    Suffix</label>
  <%= text_field_tag  "#{template}[creator_group][][creator_suffix]", nil,
                      class: "#{template}_creator_suffix creator_suffix form-control multi-text-field multi_value ubiquity_creator_suffix",
                      placeholder: '',
                      name: "#{template}[creator_group][][creator_suffix]",
                      data: {field_name:'ubiquity_creator_suffix'}
  %>

</span>  <!-- closes ubiquity_personal_fields -->

<br>

<p><label class="control-label multi_value optional" for="#{template}_affiliation">
  Institution  </label></p> <span class='error'> </span>
<%= select_tag "#{template}[creator_group][][affiliation][]", content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select( ['Pacific University', 'Other'], :to_s, :to_s),
   multiple: true, class: "form-control ubiquity_affiliation"  %>

<br>

<p><label class="control-label multi_value optional" for="#{template}_role">
  Role  </label></p> <span class='error'> </span>
<%= select_tag "#{template}[creator_group][][role][]", content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select( ['Faculty', 'Staff', 'Student', 'Other'], :to_s, :to_s),
  multiple: true, class: "form-control ubiquity_role"  %>
