<tr>
  <th>Creator</th>
  <td>
    <ul class="tabular">
      <% array_of_hash.each do |hash| %>
        <li itemprop="creator" class="attribute creator">
          <span itemprop="name" style="float:left">
            <% if hash['creator_organization_name'] %>
              <%= hash['creator_organization_name'] %>
            <% end %>
            <% if hash['creator_family_name']  %>
              <%= hash['creator_family_name'] %><% if display_comma?(hash.keys, ["creator_family_name", "creator_given_name"]) %>,<% end %>
            <% end %>
            <% if hash['creator_given_name'] %>
              <%= hash['creator_given_name'] %>
            <% end %>
           </span>
           <span itemprop="name">
             <% if display_paren?(hash.keys, ["creator_orcid", 'creator_isni']) %>
               <span style="float:left" >&nbsp;(</span>
                 <% if hash['creator_orcid'].present? %>
                   <% orcid_id = hash['creator_orcid'] %>
                     <a href='<%= render_isni_or_orcid_url("#{orcid_id}", "orcid") %>'  target="_blank">
                     <img src="https://s3.eu-west-2.amazonaws.com/ox-dev/ubi/orcid_16x16.png" alt="ORCID"  height="16" width="16" class="img-responsive"  style="float:left"  >
                   </a>
                 <% end %>

                 <% if hash['creator_isni'].present? %>
                   <% isni_id = hash['creator_isni'] %>
                   <a href='<%= render_isni_or_orcid_url("#{isni_id}", "isni") %>'  target="_blank">
                   <img src="
                      https://s3.eu-west-2.amazonaws.com/ox-dev/ubi/logo_xml_isni-16.gif" alt="ISNI"  height="16" width="44" class="img-responsive" style="float:left"  >
                   </a>
                 <% end %>
               <span>)</span>
            <% end %>
          </span>
          <br/>
        </li>
      <% end %>
    </ul>
  </td>
</tr>
