<%# see app/views/records/edit_fields/_date_published.html.erb %>
<% template = @curation_concern.class.to_s.underscore %>

<label class="control-label" for="date_accepted">Date accepted</label>
<p class="help-block"><%= t('simple_form.hints.defaults.date_accepted') %></p>

<% if date_accepted.present? %>
  <%= select_tag "#{template}[date_accepted_group][][date_accepted_year]",
                 content_tag(:option, 'select year', :value => "") + options_from_collection_for_select((years_array), 'to_i', 'to_i', date_accepted.try(:strftime, "%Y").to_i),
                 class: 'form-control ubiquity-date-input'
  %>
  <%= select_tag "#{template}[date_accepted_group][][date_accepted_month]",
                 content_tag(:option, 'select month if available', :value => "") + options_from_collection_for_select((months_array), 'to_i', 'to_i', date_accepted.try(:strftime, "%m").to_i),
                 {:class => 'form-control ubiquity-date-input'}
  %>
  <%= select_tag "#{template}[date_accepted_group][][date_accepted_day]",
                 content_tag(:option, 'select day if available', :value => "") + options_from_collection_for_select((days_array), 'to_i', 'to_i', date_accepted.try(:strftime, "%d").to_i),
                 {:class => 'form-control ubiquity-date-input'}
  %>
<% else %>
  <%= select_tag "#{template}[date_accepted_group][][date_accepted_year]",
                 content_tag(:option, 'select year', :value => "") + options_from_collection_for_select((years_array), 'to_i', 'to_i'),
                 class: 'form-control ubiquity-date-input'
  %>
  <%= select_tag "#{template}[date_accepted_group][][date_accepted_month]",
                 content_tag(:option, 'select month if available', :value => "") + options_from_collection_for_select((months_array), 'to_i', 'to_i'),
                 {:class => 'form-control ubiquity-date-input'}
  %>
  <%= select_tag "#{template}[date_accepted_group][][date_accepted_day]",
                 content_tag(:option, 'select day if available', :value => "") + options_from_collection_for_select((days_array), 'to_i', 'to_i'),
                 {:class => 'form-control ubiquity-date-input'}
  %>
<% end %>
<br/><br/><br/>
