<%# see app/views/records/edit_fields/_date_published.html.erb %>
<% template = @curation_concern.class.to_s.underscore %>

<label class="control-label" for="date_published">
  Date published <span class="label label-info"></span>
</label>
<p class="help-block"><%= t('simple_form.hints.defaults.date_published') %></p>

<% if date_published.present? %>
  <%= select_tag "#{template}[date_published_group][][date_published_year]",
                 content_tag(:option, 'select year', :value => "") + options_from_collection_for_select((years_array), 'to_s', 'to_s', parse_date(date_published, 'year')),
                  class: 'form-control ubiquity-date-published-year ubiquity-date-input'
  %>
  <%= select_tag "#{template}[date_published_group][][date_published_month]",
                 content_tag(:option, 'select month if available', :value => "") + options_from_collection_for_select((months_array), 'to_s', 'to_s',parse_date(date_published, 'month')),
                 {:class => 'form-control ubiquity-date-input ubiquity-date-published-month'}
  %>
  <%= select_tag "#{template}[date_published_group][][date_published_day]",
                 content_tag(:option, 'select day if available', :value => "") + options_from_collection_for_select((days_array), 'to_s', 'to_s', parse_date(date_published, 'day')),
                 {:class => 'form-control ubiquity-date-input ubiquity-date-published-day'}
  %>
<% else %>
  <%= select_tag "#{template}[date_published_group][][date_published_year]",
                 content_tag(:option, 'select year', :value => "") + options_from_collection_for_select((years_array), 'to_s', 'to_s'),
                  class: 'form-control ubiquity-date-published-year ubiquity-date-input'
  %>
  <%= select_tag "#{template}[date_published_group][][date_published_month]",
                 content_tag(:option, 'select month if available', :value => "") + options_from_collection_for_select((months_array), 'to_s', 'to_s'),
                 {:class => 'form-control ubiquity-date-published-month ubiquity-date-input'}
  %>
  <%= select_tag "#{template}[date_published_group][][date_published_day]",
                 content_tag(:option, 'select day if available', :value => "") + options_from_collection_for_select((days_array), 'to_s', 'to_s'),
                 {:class => 'form-control ubiquity-date-published-day ubiquity-date-input'}
  %>
<% end %>
<br/><br/><br/>
