<%# see app/views/records/edit_fields/_date_published.html.erb %>
<% template = @curation_concern.class.to_s.underscore %>

<% if event_date.present? %>
  <% event_date.each do |date| %>
    <div class="ubiquity-meta-event-date">
      <label class="control-label" for="event_date">Event date</label>
      <p class="help-block"><%= t('simple_form.hints.defaults.event_date') %></p>
      <%= select_tag "#{template}[event_date_group][][event_date_year]",
                 content_tag(:option, 'select year', :value => "") + options_from_collection_for_select((years_array), 'to_s', 'to_s', parse_date(date, 'year')),
                 class: 'form-control ubiquity-date-input'
      %>
      <%= select_tag "#{template}[event_date_group][][event_date_month]",
                 content_tag(:option, 'select month if available', :value => "") + options_from_collection_for_select((months_array), 'to_s', 'to_s', parse_date(date, 'month')),
                 {:class => 'form-control ubiquity-date-input'}
      %>
      <%= select_tag "#{template}[event_date_group][][event_date_day]",
                 content_tag(:option, 'select day if available', :value => "") + options_from_collection_for_select((days_array), 'to_s', 'to_s', parse_date(date, 'day')),
                 {:class => 'form-control ubiquity-date-input'}
      %>
      <br/><br/>
      <a href="#" style="color:red;" class="remove_event_date form-group" data-removeUbiquityEventDate=".ubiquity-meta-event-date">
        <span class="glyphicon glyphicon-remove"></span>
        <span class="controls-remove-text">Remove</span>
      </a>
      |
      <a href="#" class="add_event_date" data-addUbiquityEventDate=".ubiquity-meta-event-date">Add
        another </a>
      <br/><br/><br/>
    </div>
  <% end %>

<% else %>
  <div class="ubiquity-meta-event-date">
    <label class="control-label" for="event_date">Event date</label>
    <p class="help-block"><%= t('simple_form.hints.defaults.event_date') %></p>
    <%= select_tag "#{template}[event_date_group][][event_date_year]",
                 content_tag(:option, 'select year', :value => "") + options_from_collection_for_select((years_array), 'to_s', 'to_s'),
                 class: 'form-control ubiquity-date-input'
    %>
    <%= select_tag "#{template}[event_date_group][][event_date_month]",
                 content_tag(:option, 'select month if available', :value => "") + options_from_collection_for_select((months_array), 'to_s', 'to_s'),
                 {:class => 'form-control ubiquity-date-input'}
    %>
    <%= select_tag "#{template}[event_date_group][][event_date_day]",
                 content_tag(:option, 'select day if available', :value => "") + options_from_collection_for_select((days_array), 'to_s', 'to_s'),
                 {:class => 'form-control ubiquity-date-input'}
    %>
    <br/><br/>
    <a href="#" style="color:red;" class="remove_event_date form-group" data-removeUbiquityEventDate=".ubiquity-meta-event-date">
      <span class="glyphicon glyphicon-remove"></span>
      <span class="controls-remove-text">Remove</span>
    </a>
    |
    <a href="#" class="add_event_date" data-addUbiquityEventDate=".ubiquity-meta-event-date">Add
      another </a>
    <br/><br/><br/>
  </div>
<% end %>
