<div class="ubiquity-meta-creator" >

  <% array.each_with_index do |value, index| %>
    <label class="control-label multi_value optional" for="journal_article_creator_given_name">
      creator given name</label>

   <%= text_field_tag "journal_article[creator_group][][creator_given_name]", value,
                   class: "journal_article_creator_group form-control multi-text-field multi_value",
                   name: "journal_article[creator_group][][creator_given_name]"
    %>
<% end %>
  <br/><span style="color:blue;">required<span>
  <%= select_tag "journal_article[creator_group][][creator_name_type]", content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select( NameTypeService.new.select_active_options.flatten.uniq!, :to_s, :to_s), required: true %>


  <label class="control-label multi_value optional" for="journal_article_creator_name_type">
    creator name type</label>


  <%= select_tag "journal_article[creator_group][][creator_name_type]",
                 options_for_select(NameTypeService.new.select_active_options)
                   %>

  <br>
      <label class="control-label multi_value optional" for="journal_article_creator_family_name">
        creator family name</label>


      <%= text_field_tag "journal_article[creator_group][][creator_family_name]", nil,
                         class: "journal_article_creator_group form-control multi-text-field multi_value",
                         name: "journal_article[creator_group][][creator_family_name]"
      %>

      <br>

      <label class="control-label multi_value optional" for="journal_article_creator_orcid">
        creator orcid</label>

      <%= text_field_tag "journal_article[creator_group][][creator_orcid]", nil,
                         class: "journal_article_creator_group form-control multi-text-field multi_value",
                         name: "journal_article[creator_group][][creator_orcid]"
      %>

      <br>
      <label class="control-label multi_value optional" for="journal_article_creator_isni">
        creator isni</label>

      <%= text_field_tag "journal_article[creator_group][][creator_isni]", nil,
                         class: "journal_article_creator_group form-control multi-text-field multi_value",
                         name: "journal_article[creator_group][][creator_isni]"
      %>
      <br>
      <%= hidden_field_tag "journal_article[creator_group][][creator_position]", index, class: 'ubiquity-creator-score'  %>


      <a href="#" style="color:red;"  class=" remove_creator form-group " data-removeUbiquitycreator=".ubiquity-meta-creator">
        <span class="glyphicon glyphicon-remove"></span>
        <span class="controls-remove-text">Remove</span>
      </a>
      |

      <a href="#" class=" add_creator" data-addUbiquitycreator=".ubiquity-meta-creator">Add another </a>

      <br> <br>

</div>
