

<% array_of_hash.each do |hash| %>

<div class="ubiquity-meta-contributor" >

   <label class="control-label multi_value optional" for="journal_article_contributor_orcid">
    contributor name type</label>

    <%= select_tag "journal_article[contributor][][contributor_name_type]", content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select( NameTypeService.new.select_active_options.flatten.uniq!, :to_s, :to_s, hash["contributor_name_type"]), required: true %>

  <br>

      <label class="control-label multi_value optional" for="journal_article_contributor_orcid">
        contributor given name</label>

      <%= text_field_tag "journal_article[contributor][][contributor_given_name]", hash["contributor_given_name"],
                         class: "journal_article_contributor_group form-control multi-text-field multi_value",
                         name: "journal_article[contributor][][contributor_given_name]"
      %>

      <br>
      <label class="control-label multi_value optional" for="journal_article_contributor_orcid">
        contributor family name</label>


      <%= text_field_tag "journal_article[contributor][][contributor_family_name]", hash["contributor_family_name"],
                         class: "journal_article_contributor_group form-control multi-text-field multi_value",
                         name: "journal_article[contributor][][contributor_family_name]"
      %>

      <br>

      <label class="control-label multi_value optional" for="journal_article_contributor_orcid">
        contributor orcid</label>

      <%= text_field_tag "journal_article[contributor][][contributor_orcid]", hash["contributor_orcid"],
                         class: "journal_article_contributor_group form-control multi-text-field multi_value",
                         name: "journal_article[contributor][][contributor_orcid]"
      %>

      <br>
      <label class="control-label multi_value optional" for="journal_article_contributor_orcid">
        contributor isni</label>

      <%= text_field_tag "journal_article[contributor][][contributor_isni]", hash["contributor_orcid"],
                         class: "journal_article_contributor_group form-control multi-text-field multi_value",
                         name: "journal_article[contributor][][contributor_isni]"
      %>
      <br>
      <%= hidden_field_tag "journal_article[contributor][][contributor_position]", hash["contributor_position"], class: 'ubiquity-contributor-score'  %>

      <br>
      <a href="#" style="color:red;"  class=" remove_contributor form-group " data-removeUbiquitycontributor=".ubiquity-meta-contributor">
        <span class="glyphicon glyphicon-remove"></span>
        <span class="controls-remove-text">Remove</span>
      </a>
      |

      <a href="#" class=" add_contributor" data-addUbiquitycontributor=".ubiquity-meta-contributor">Add another </a>

      <br> <br>

</div>

<% end %>
