<!--based on hyrax/app/views/hyrax/base/_metadata.html.erb, so we can change spelling of 'licence' on the show page -->

<table class="table table-striped <%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
  <%= render 'attribute_rows', presenter: presenter %>
  <%= presenter.attribute_to_html(:embargo_release_date, render_as: :date, html_dl: true) %>
  <%= presenter.attribute_to_html(:lease_expiration_date, render_as: :date, html_dl: true) %>
</table>
